@page  {
    size: auto;
    margin: 5mm;
}
:root {
    box-sizing: border-box;
    -webkit-print-color-adjust: exact;

}

*, ::before, ::after {
    box-sizing: inherit;
}

body * + * {
    margin-top: 1.5em;
}

li:first-child {
    margin-top: 1.5em
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

body {
    background-image: linear-gradient(60deg,#8C7F77,#BFAF8F,#262626);
}

header h1 {
    text-align: center;
    color: #F2D5A0;
    text-transform: capitalize;
}

.site-nav ul {
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    display: flex;
    list-style-type: none;

}
nav {
    background-color: rgba(40, 39, 39, 0.53);
    width: 100%;
    padding: .2em;
}
.site-nav ul > li a {
    color: white;
    display: block;
    width: 100%;
    padding: .3em;
    text-decoration: none;

    margin-right: 1.5em;
}
.img{
    float: left;
    margin-top: 1.5em;
    margin-right: 1.5em;
}
.column-main {
    flex-flow: column wrap;
    display: flex;
    background-color: rgba(40, 39, 39, 0.53);
    padding: 1.2em;
}
@media screen and(min-width: 320px) and (max-width:700px){
img{
    float: top;
}
    .column-main{
        display: flex;
        flex-flow: column wrap;
    }
}
.column-main > h1{
    color: #F2D5A0;
}
.column-main > p{
    color: #BFAF8F;
    line-height: 1.8em;
}



